@charset "UTF-8";

/* section3 */
#section3{
	height: 630px;
}
#section3 .box .logo{
	height: 55px;
	border-bottom: 2px solid black;
}
#section3 .box form{
	margin-top: 20px;
}
#section3 .box form table{
	width: 100%;
	border-collapse: collapse;
}
#section3 .box form table td, #section3 .box form table th{
	padding: 8px 5px;
	border: 1px solid #ccc;
}