<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>주소검색결과</title>
	<script type="text/javascript">
		function filladd(zip1, addr) {
			opener.document.form1.zipcode.value = zip1;
			opener.document.form1.addr1.value = addr;
			this.close()
		}
	</script>
</head>
<body>
	<p>
		<input type="text" name="zipcode" size="30">
		<input type="button" value="우편번호" onclick="zipcodesearch()">
	</p>
	<a href="javascript:filladd('15080', '서울특별시 영등포구 당산1동')">15080 서울특별시 영등포구 당산1동</a>
	<br>
</body>
</html>