@charset "UTF-8";
table {
	width: 100%;
	border-collapse: collapse;
	font-size: 14px; text-align: center;
}
table > caption {
	font-size: 20px; font-weight: 700;
	margin-bottom: 10px;
}
table td, table th {
	padding: 8px 5px;
	border: 1px solid #ccc;
}
.blue{
	color: white;
	background: #43cbff;
}
.green{
	color: white;
	background: #81d733;
}
.yellow{
	background: yellow;
}
.orange{
	background: orange;
}
.red{
	color: white;
	background: red;
}